<div class="center jumbotron">
  <div class="home-page-design">
  	<h1 class="home_page">NoteKeeping</h1>
  	<%= link_to "Sign up now", new_user_registration_path, class: "btn btn-danger btn-lg btn-xlarge link-style signup-link" %>
  </div>
</div>