// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.commom-style-all {
	display: block;
}

.link-style {
	color: white !important;
} 

.commom-display-inline {
	display: inline-block;
}

.horizontal-rule {
	border-top: 1.5px dashed green;
}

.col-centered {
  float: none;
  margin: 10px auto;
}

.left-space {
  left: 34px !important;
}

.panel-heading {
  background: black none repeat scroll 0 0 !important;
  color: white !important;
}

#logo {
  height: 51px;
  position: absolute;
  width: 60px;
}

#name {
  font-size: 1.3em;
  color: #e85f1c;
  font-weight: bold;
  position: relative;
  bottom: 5px;
}

.create-note {
	height: 103px;
  width: 124px;
}

#name-style {
	border: 2px solid;
  color: #e85f1c;
  height: 42px;
  margin-top: 4px;
	padding-left: 12px;
	border-radius: 25px;
}

.link-navigation {	
	font-family: Libre Baskerville;
  float: right;
  font-size: 1.2em;
  color: white !important;
  letter-spacing:-1px; 
}

.main-note {
	background: white none repeat scroll 0 0;
	border: 1px dashed green;
	height: auto;
  width: auto;
  border-top: 0 none;
  left: 210px;
  position: relative;
  border-radius: 20px;
}

.note-heading {
	background: #b3d1ff none repeat scroll 0 0;
  text-align: center;
  height: 59px;
  border: 1px dashed;
}

.select-style {
	width: 20%;
	bottom: 7px;
  left: 14px;
  position: relative;
}

.radio-style {
	display: inline-block;
	position: relative;
	left: 10px;
}

.edit-style {
	left: 95px !important;
}

.edit-image {
	float: left;
}

.plus-style {
	float: right;
  position: relative;
  right: 33px;
}

.heading {
	position: relative;
  top: -6px;
  display: inline-block;
}

.note-common {
	overflow-wrap: break-word;
	font-size: 13px;
  font-style: italic;		
}
.table-head {
	color: #1a8cff;
  font-size: 16px;
}

.body-note {
	color: #1a8cff;
  font-family: Droid Sans;
  font-size: 16px;
  border: 1px solid;
  border-radius: 13px;
  padding: 7px;
}

.all-note {
	color: #1a8cff;
  font-family: Droid Sans;
  font-size: 20px;
  border: 1px solid;
  border-radius: 13px;
  padding: 10px;
  display: inline-block;
  position: relative;
  left: 140px;
}

.common-edit {
	padding-bottom: 10px;
	left: 38px;
  position: relative;
	display: inline-block;
	background: #FC39C12x;
}

.common-share {
	display: inline-block;
	left: 55px;
  position: relative;
}

.permission-form {
	left: 36px;
  position: relative;
  width: 87%;
}

.permission-share {
	display: block;
  margin: 10px 0;
  float: right;
}

.shared-to {
	float: left;
	deiplay: inline-block;
	margin: 0px;

}

.wrapper-permission {
	height: 50px
}

.danger-style {
	left: 72px;
}

.access-denied {
	left: 35px;
}

.tags-style {
	background: #white none repeat scroll 0 0;
  border: 1px #1a8cff solid ;
  border-radius: 8px;
  color: black !important;
  padding: 4px;
  text-decoration: none;
}

.tags a:hover {
  text-decoration: none;
	background: #1a8cff !important;
	color: black;
}

.note-tags {
	bottom: 43px;
	left: 62px;
  position: absolute;
}

.tags-style-index {
	color: #1a8cff
}

.note-tags a:hover {
	background: #1a8cff !important;
}


.tags {
	display: inline-block;
  margin-left: 0;
  margin-top: 0;
 }

 .show-tags {
 		display: inline-block;
    margin-left: 37px;
    margin-top: 2px;
 }


.index-tags a:hover {
	background: #1a8cff !important;
	text-decoration: none;
}

.jumbotron {
  background-image: asset-url('photo.jpeg');
  background-size: cover;
  height: 600px; 
}

.condition-sign {
  margin-bottom: 0px !important;
}

.home_page {
  color: black !important;
  padding-top:50px;  
  font: 400 100px/1.3 'Lobster Two', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0,0,0,0.15);

}

.home-page-design {
  float: right;
  position: relative;
  right: 370px;
  font-size: 25px;
  top: 134px;
}

.signup-link {
  margin-left: 90px;  
}






